# 컬렉션 타입의 종류

### **리스트 튜플 딕셔너리 세트**

### 리스트 & 튜플 
- 복수개의 값을 담을 수 있는 데이터 구조
- 실생활에서 사용하는 리스트(학생 리스트)와 같은 의미로 이해
- 리스트 - **생성된 후에 변경 가능**
- 튜플 - **생성된 후에 변경 불가능**

### 리스트 초기화
- [] 안에 값을 담아서 생성
- list() 함수로 생성 
- str.split() 함수로 생성

In [1]:
a = []
print(a) # 비어있는 리스트가 출력됨

[]

In [2]:
a = [1, 2, 3]
print(a) # 값이 있는 리스트는 잘 나옴

[1, 2, 3]

In [3]:
a = ['안녕', 11.1,  10, True] # 자료형 상관 X
print(a)

['안녕', 11.1, 10, True]

- list() 함수  
    - 다른 데이터 타입을 리스트로 변환할 때도 사용

In [4]:
a = 'Hello World'
b = list(a)
print(b)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

문자열이 주어지면 하나하나 나뉘어서 리스트에 담음

- string split 함수
    - 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [5]:
a = 'Hello World'
b = a.split()
print(b)

['Hello', 'World']

### 리스트 인덱싱
- 문자열의 인덱싱과 동일하게 동장
- [] 연산자를 이용하여 항목 얻어오기 
- [i] - i번째 원소를 반환
- i가 음수인 경우에도 사용이 가능하며 -1로 하여 앞으로 갈때마다 1씩 감소

In [7]:
a = [1, 2, 3, 4, 5, 6]
print(a[0])
print(a[3])

1
4

### 리스트 개별 아이템에 접근
- 인덱스에 접근하여 값을 업데이트 가능

In [8]:
a = [1, 2, 3, 4, 5, 6]
a[0] = 100 # a의 0번째 인덱스인 1을 100으로 변경
print(a)

[100, 2, 3, 4, 5, 6]

만약 문자열일 경우 에러가 발생함  
이유 : **문자열은 불변이기 때문**
- 불편은 한 번 생성되면 다시 바뀔 수 없음
    - 하지만 리스트 쓰면 가능함

In [10]:
a = 'Hello World'
print(a[0])
a[0] = 'K'
print(a)

H

TypeError: 'str' object does not support item assignment

In [12]:
a = 'Hello World'
b = list(a)
b[0] = 'K'
a = b[:]
print(a) # 나머지 코드는 생략

['K', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

### 리스트 슬라이싱
- 문자열 슬라이싱과 동일하게 동작
- 슬라이싱의 결과 역시 list

In [14]:
a = [1, 2, 3, 4, 5, 6]
print(a[4:6])

# 슬라이싱에는 :: <- 이것을 두개를 사용 할 수 있음 
# 시작 : 끝 : 값 

print(a[0::2]) # 그러면 2칸씩 건너감

[1, 3, 5]

### list 멤버 함수 
- 생성된 리스트 객체에 동작하는 함수

- append()
    - 리스트의 끝에 항목을 추가함

In [18]:
a = []
a.append('값 추가')
print(a)

['값 추가']

- extend()
    - 리스트를 연장
    - += 으로도 가능

In [22]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b) # 둘다 가능

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

- insert()로 항목추가
    - 리스트의 원하는 위치에 추가 가능
    - 앞에 인덱스를, 뒤에 아이템을 명시

In [23]:
a = [1, 2, 3, 4, 5, 6]
a.insert(1,40) # 인덱스 1번에 40이라는 값 추가

print(a)

[1, 40, 2, 3, 4, 5, 6]

- remove()
    - 값으로 항목 삭제

In [24]:
a = [1, 2, 3, 4]
a.remove(2)

print(a)

[1, 3, 4]

- pop()
    - 지우고자 하는 아이템을 반환 후, 삭제

In [3]:
a = [1, 2, 3, 4, 5]
a.pop() # 인덱스 값을 적지 않았을 때는 그냥 뒤에만 지움 
print(a)

a = [1, 2, 3, 4, 5]
a.pop(1) # 인덱스 값을 적어주면 1 번 인덱스에 있는 2가 빠짐
print(a)

[1, 2, 3, 4]
[1, 3, 4, 5]

### index()
- 찾고자 하는 값의 인덱스 반환

In [5]:
a = [1, 2, 3, 4, 5, 6]
print(a.index(3)) # 값이 3인 인덱스는 3번

2

### in 키워드 
- 리스트 내에 해당 값이 존재하는지 확인 
- value in [list]
- True, False 중 한가지로 반환

In [6]:
a = [1, 2, 3, 4, 5, 10]
b = 7

c = b in a # a에 b라는 값이 있는가? 
print(c) # ㄴ 없음

False

### list 정렬
- sort() -> 리스트 자체를 내부적으로 정렬 
- sorted() -> 리스트의 정렬된 복사본을 반환

In [16]:
a = [10, 8, 4, 3, 2] # 랜덤한 리스트
# a.sort() # 오름차순으로 정렬 
a.sort(reverse=True) # 내림차순으로 정렬

print(a)

[10, 8, 4, 3, 2]

In [17]:
a = [10, 8, 4, 3, 2] # 위와 동일한 리스트 

b = sorted(a)

print(b)

[2, 3, 4, 8, 10]

## tuple
- 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
- 생성된 후 변경이 불가능

In [20]:
a = [1, 2, 3]
b = (1, 2, 3)

print(type(a))
print(type(b))

a[0] = 100
print(a)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

In [22]:
b[0] = 100 
print(b)

TypeError: 'tuple' object does not support item assignment

튜플은 위에서 말 했던것 처럼 생성된 후 변경이 불가능함

### tuple unpacking
- 튜플의 값을 차례대로 변수에 대입

In [24]:
a = (100, 200)
print(type(a))

b = 100, 200 # 이처럼 괄호를 하지 않아도 튜플로 처리됨
print(type(b))

<class 'tuple'>
<class 'tuple'>

### 딕셔너리
- 키와 값을 갖는 데이터 구조
- 키는 내부적으로 hash값으로 저장 
- 순서를 따지지 않음. 즉, 인덱스가 없음
    - 앞은 키, 뒤는 벨류

In [5]:
a = {'Korea' : 'Seoul', 
     'Canada' : 'Ottawa'}

b = {0:1, 1:6, 7:9, 8:10}

print(b[1])

6

### 항목 추가 및 변경
- 기존에 키가 존재 하면, 새로운 값으로 업데이트 
- 존재하지 않으면, 새로운 키, 값 생성

In [10]:
a['Japan'] = 'Tokyo'

print(a) # 추가된 모습을 확인 할 수 있음

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'Japan': 'Tokyo'}

In [11]:
a['Japan'] = 'None'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'Japan': 'None'}

만약 키에 해당하는 값이 똑같다면 마지막에 실행한 값으로 업데이트를 함

### update()
- 두 딕셔너리를 병합함
- 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [12]:
a = {'a':1, 'b':2, 'c':3}
b = {'a':2, 'd':4, 'e':5}

a.update(b) # a에 b값을 업데이트함 
# 만약 a에 b와 겹치는 키가 있다면 b의 키로 업데이트 

print(a) # 마지막에 a가 2로 업데이트된 모습

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### key삭제 
- del 키워드 사용
- pop 함수 이용

In [16]:
a = {'a':1, 'b':2, 'c':3}
print(a)

# a.pop('b')
# print(a) # 키가 b인 값이 삭제됨 

del a['b']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}

### clear()
- 딕셔너리의 모든 값을 초기화

In [17]:
print(a)
a.clear()
print(a)

{'a': 1, 'c': 3}
{}

### in
- key값 존재 확인 
- O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [20]:
a = {'a':1, 'b':2, 'c':3}
print(a)

# 'b' in a
'd' in a

{'a': 1, 'b': 2, 'c': 3}

False

딕셔너리는 키를 찾는데 빠르지만 만약 리스트에서 in을 사용하면 엄청난 성능 저하가 생길 수 있음

### value access
- dict[key]로 접근, 키가 없는 경우 에러 발생
- .get()함수로 접근, 키가 없는 경우 None 반환

In [26]:
#  a['d'] 키가 없는 경우 에러가 발생해서 프로그램이 죽어버림 
# 하지만 get을 사용하면 프로그램이 죽지 않음 
print(a.get('d'))
print(a.get('a'))

None
1

### 모든 keys, values 접근
- keys() - 키만 반환
- values() - 값만 반환
- items() - 키, 값의 튜플을 반환

In [34]:
print(a)
print(a.keys())
print(a.values()) 
# 위 값들을 리스트로 변경시켜서 사용 가능 

Keys = list(a.keys())
print()
print(Keys) # 이렇게 사용 가능

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

['a', 'b', 'c']

## set
- dictionary에서 key만 활용하는 데이터 구조로 이해 
- 수학에서의 집합과 동일한 개념

In [35]:
a = {1, 1, 2, 3, 4, 5, 6, 5, 3}
print(a)

print(a[0])

{1, 2, 3, 4, 5, 6}

TypeError: 'set' object is not subscriptable

세트는 인덱싱이 안됨 즉 순서가 없음  
또한 중복을 허용하지 않음

In [36]:
a = set()
type(a)

set

### set()으로 집합으로 변환

In [37]:
a = [1, 1, 2, 3, 3, 4, 1, 5]
print(a)

b = set(a)
print(b)

[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

### set operations
- 수학 연산과 동일
- 교집합, 합집합, 차집합 등 지원

In [41]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(a.issubset(b)) # 부분 집합

{1, 2, 3, 4}
{2, 3}
{1}
False